{% extends "account/base.html" %}
<div class="container">
  <h1>レストラン登録</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
   
    {% for field in form %}
      <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        {% if field.errors %}
        <div class="alert alert-danger">{{ field.errors }}</div>
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">登録</button>
  </form>
  <div class="centered-button-container">
  <a href="{% url 'account:home' %}" class="btn btn-home">ホームに戻る</a>
</div>
{% endblock %}

{% block javascript %}
<script>
  function previewImage(event) {
    var reader = new FileReader();
    reader.onload = function() {
      var output = document.getElementById('preview');
      output.src = reader.result;
      output.style.display = 'block';
    };
    reader.readAsDataURL(event.target.files[0]);
  }
</script>
{% endblock %}