{% extends 'account/base.html' %}

{% block content %}
<div class="container">
    <h1>写真を追加 - {{ restaurant.name }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.errors }}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">アップロード</button>
        <a href="{% url 'account:restaurant_list' %}" class="btn-back">ホームに戻る</a>
    
        {% comment %} <button type="button" class="btn btn-secondary" onclick="history.back()">戻る</button> {% endcomment %}
        {% comment %} <a href="{% url 'account:restaurant_list' %}" class="btn">戻る</a>  {% endcomment %} 
    {% comment %} <h1>写真を追加 - {{ restaurant.name }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">アップロード</button>
        {% comment %} <button type="button" class="btn btn-secondary" onclick="history.back()">戻る</button> {% endcomment %}
        {% comment %} <a href="{% url 'account:restaurant_list' %}" class="btn">戻る</a>  {% endcomment %} 

    </form>
</div>
{% endblock %}

