<!-- HTMLファイル -->
{% extends "account/base.html" %}
{% load static %}
{% block title %}ホーム{% endblock %}

{% block content %}
<div class="container">
    <h1 class="gourmet-diary-title">Welcome to only my gourmet note</h1>
    <div class="welcome-comment-container">
        <p class="welcome-comment">行ってみて良かった、行ってみたいお店を登録して</p>
        <p class="welcome-comment">自分だけのグルメ記録アプリを作成しよう！</p>
    </div>
    <div class="links-center-container">
        <a href="{% url 'account:restaurant_add' %}">レストラン登録</a>

        <a href="{% url 'account:restaurant_list' %}">レストラン一覧</a>
        <a href="{% url 'account:search' %}">ジャンル検索</a>
        <a href="{% url 'account:logout' %}">ログアウト</a>
    </div>
    <img src="{% static 'account/カフェ.png' %}" alt="ホーム">
</div>
{% endblock %}
