{% extends 'account/base.html' %}

{% block content %}
<div class="container">
    <h2>レストラン登録</h2>
    <form method="post" enctype="multipart/form-data" style="max-width: 500px; margin: auto;">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        {% comment %} <div class="centered-button-container"> {% endcomment %}
            <div class="button-container">
        {% comment %} <div class="form-group"> {% endcomment %}
            <button type="submit" class="btn btn-primary">登録</button>
        {% comment %} </div>
        <div class="centered-button-container"> {% endcomment %}
        {% comment %} <div class="form-group"> {% endcomment %}
            <div class="centered-button-container">
            <a href="{% url 'account:home' %}" class="btn btn-home">ホームに戻る</a>
        </div>
    </form>
</div>
{% endblock %}

