{% extends 'account/base.html' %}


{% block content %}
<div class="container">
    <h1>{{ restaurant.name }}の写真</h1>
    <a href="{% url 'account:add_photo' restaurant.id %}" class="btn btn-primary">新しい写真を追加</a>

    <div class="photos">
        {% for photo in restaurant.photos.all %}
        <div class="photo">
            <!-- 画像が存在するかどうかを確認し、存在する場合にのみ表示 -->
            {% if photo.image %}
                <img src="{{ photo.image.url }}" alt="{{ restaurant.name }}" style="max-width: 200px; height: auto;">
            {% else %}
                <p>画像がアップロードされていません。</p>
                {% comment %} <a href="{{ photo.image.url }}" target="_blank">画像を見る</a> {% endcomment %}
            {% endif %}
        </div>
    {% empty %}
        <p>写真はまだありません。</p>
    {% endfor %}      
    <a href="{% url 'account:home' %}" class="btn btn-home">ホームに戻る</a>
    {% comment %} <a href="{% url 'account:restaurant_list' %}" class="btn btn-home">ホームに戻る</a> {% endcomment %}
</div>
{% endblock %}
