{% extends "account/base.html" %}

{% block title %}Only my gourmet note{% endblock %}

{% block content %}

<div class="container">
    <h1 class="my-5">Welcome Only my gourmet note</h1>
    <div class="welcome-comment-container"> 
    <p class="app-description">
        このアプリは自分だけのグルメノートが作れます。<br>
        行って良かった、行ってみたいお店を登録しよう。
    </p>
    <div class="button-container">    
        <a href="{% url 'account:login' %}" class="btn btn-outline-primary">ログイン</a>
        <a href="{% url 'account:signup' %}" class="btn btn-outline-primary">新規登録</a> 
    </div>
</div> 
{% endblock %}7



{% comment %} <style>
    body, html {
        height: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style> {% endcomment %}

{% comment %} <div class="container">

{% block content %} {% endcomment %}